.glimpse-title {
  position: relative;
  display: grid;
}
.glimpse-title-box {
  background-color: #db6400;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  z-index: 2;
}
.glimpse-top-svg {
  position: relative;
  top: 10px;
  transform: rotate(180deg);
}
.glimpse-bot-svg {
  position: relative;
  top: -6px;
}

.glimpse-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 60px;
}

.glimpse-product {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'title'
    'img'
    'text';
}

.glimpse-product-title {
  grid-area: title;
  margin-bottom: 30px;
  text-align: center;
}
.glimpse-img {
  grid-area: img;
  display: grid;
  justify-content: center;
}
.glimpse-texts {
  margin-top: 30px;
  line-height: 1.4em;
  font-size: 14px;
  text-align: center;
}
.glimpse-img img {
  width: 200px;
}
.glimpse-texts {
  grid-area: text;
}

.glimpse-texts button {
  margin-top: 20px;

  padding: 0.5rem 1rem;
}

.glimpse-texts button:active {
  background-color: #16697a;
  color: #fff;
}

@media (min-width: 540px) {
  .glimpse-title-box {
    font-size: 30px;
  }
}

@media (min-width: 700px) {
  .glimpse-product {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      'title title'
      'text img';
  }
  .glimpse-product-title {
    font-size: 25px;
  }
  .glimpse-grid {
    grid-row-gap: 100px;
  }
  .glimpse-texts {
    text-align: left;
  }
}

@media (min-width: 1000px) {
  .glimpse-title-box {
    font-size: 40px;
  }
  .glimpse-texts {
    display: grid;
    align-items: center;
    font-size: 17px;
  }
  .glimpse-img img {
    width: 400px;
  }
}
